/* CSS Document */

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #0E495B;
}
.form-signin {
  max-width: 530px;
  max-height: 520px;
  padding: 15px;
  position: relative;
	top: 100px;
  margin: 0 auto;
  background: rgba(0,18,42,1.00);
	border-radius: 20px;
}
.form-signin img{
	margin-left: 160px;
	shape-margin: 10px;
	border-radius: 550px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;color: #DDD9D9;
	text-align: center;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
	
}
.form-signin .form-control:focus {
	
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
	
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


